nav {    
  background-color:#FFC75F;    
}

body {    
    background-color:#FFC75F;
    color: white;
    font-family: Sanchez;  
}

h1,h4{
    font-family: Love Ya Like A Sister;  
}

.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 40px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

#login-container {
    border-radius: 30px;
    background-color: white; 
}

#round-button{
    border-radius: 50px;
    background-color: #845EC2;
}
#login-username {
    border-radius: 10px;
    background-color: white;
}
#username-input {
    border-color: #EFEFEF;
    border-radius: 10px;
    background-color: #EFEFEF;
    color:#969696;
}
#purple{
    border-radius: 30px;
    background-color: #845EC2;
    color: #845EC2;
}

